:host {
    width: 100% !important;
    position: relative;
}

/* table-content */

.table-image {
    width: 70px;
    height: 70px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.table-select {
    margin-top: 1px;
    margin-left: 4px;
}

.table-address {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}

.table-center-column {
    text-align: center;
}

.btn-action {
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px ;
}

.table-container {
    background-color: white;
    margin-top: 200px;
    margin: 120px 0 100px 60px;
    max-width: 1520px;
    vertical-align: middle;
    font-size: 16px;
}

