<app-actions [actionCreateText]="actionCreateText" 
            [actionCreateLink]="actionCreateLink"

            (checkBoxSelectAll)="checkBoxAllHandler($event)"
            (handleActionDelete)="deleteCategory()"
            
            (reRenderList)="reRenderCategoryList($event)"
            [maxPageDisplayed]="2"
            [itemPerPage]="4"
            [listenToList]="getCategoryListPromise()"

            [haveFilterBar]= true
            (selectStore)="storeSelected($event)">
</app-actions>

<table class="table-container table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Size S</th>
      <th scope="col">Size M</th>
      <th scope="col">Size L</th>
      <th><div style="text-align: center;">Actions</div></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categoryList">
      <td>
        <input #checkbox [(ngModel)] = "category.isSelected" style="cursor: pointer;" class="form-check-input category-select" type="checkbox" value="" id="flexCheckDefault" (change)="onCheckBoxChange()">
      </td>
      <td><div class="table-id">{{category.categoryId}}</div></td>
      <td><div class="table-name">{{category.categoryName}}</div></td>
      <td><div class="table-image" style="background-image: url('{{category.categoryImage}}') ;"> </div></td>

      <td *ngIf="category.beverageList[0]; else empty_size">
        <span> {{category.beverageList[0].beveragePrice}} </span>  
      </td>
      <td *ngIf="category.beverageList[1]; else empty_size">
        <span> {{category.beverageList[1].beveragePrice}} </span>  
      </td>
      <td *ngIf="category.beverageList[2]; else empty_size">
        <span> {{category.beverageList[2].beveragePrice}} </span>  
      </td>

      <ng-template #empty_size><td> 0.00</td></ng-template>

      <td>
        <div class="d-flex justify-content-around table-actions">
          <a [routerLink]="['/category/edit', category.categoryId]" class="btn btn-warning btn-action"><mat-icon>edit</mat-icon></a>
          <div class="btn btn-danger btn-action" (click)="onClickBtnDelete(category)"><mat-icon>delete_outline</mat-icon></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

