<app-actions [actionCreateText]="actionCreateText" 
            [actionCreateLink]="actionCreateLink"
            (checkBoxSelectAll)="checkBoxAllHandler($event)"
            (handleActionDelete)="deleteEmployee()"

            (reRenderList)="reRenderEmployeeList($event)"
            [maxPageDisplayed]="2"
            [itemPerPage]="4"
            [listenToList]="getEmployeeListPromise()"

            [haveFilterBar]= true
            (selectStore)="storeSelected($event)">
</app-actions>

<table class="table-container table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col"><div>Gender</div></th>
      <th scope="col"><div class="table-center-column">Avatar</div></th>
      <th scope="col"><div>Email address</div></th>
      <th scope="col"><div>Phone number</div></th>
      <th scope="col"><div>Role</div></th>
      <th scope="col"><div class="table-center-column">Store ID</div></th>
      <th><div style="text-align: center;">Actions</div></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employeeList">
      <td>
        <input #checkbox [(ngModel)] = "employee.employeeIsSelected" style="cursor: pointer;" class="form-check-input employee-select" type="checkbox" value="" id="flexCheckDefault" (change)="onCheckBoxChange()">
      </td>
      <td><div class="table-id">{{employee.employeeId}}</div></td>
      <td><div class="table-name">{{employee.employeeName}}</div></td>
      <td><div class="table-username">{{employee.employeeLoginName}}</div></td>

      <td>
        <div *ngIf="employee.employeeGender==1" class="table-phone">Male</div>
        <div *ngIf="employee.employeeGender==2" class="table-phone">Female</div>
        <div *ngIf="employee.employeeGender==0" class="table-phone">Others</div>
      </td>

      <td><div class="table-image table-center-column" style="background-image: url('{{employee.employeeImage}}');"> </div></td>
      <td><div class="table-email">{{employee.employeeEmail}}</div></td>
      <td><div class="table-phone">{{employee.employeePhone}}</div></td>

      <td>
        <div *ngIf="employee.employeeRole==1" class="table-phone">Admin</div>
        <div *ngIf="employee.employeeRole==2" class="table-phone">Staff</div>
      </td>

      <td><div class="table-center-column">{{employee.storeId}}</div></td>

      <td>
        <div class="d-flex justify-content-around">
          <a [routerLink]="['/employee/edit', employee.employeeId]" class="btn btn-warning btn-action"><mat-icon>edit</mat-icon></a>
          <div class="btn btn-danger btn-action" (click)="onClickBtnDelete(employee)"><mat-icon>delete_outline</mat-icon></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>