mat-toolbar {
    background-color: black;
    height: 120px;
    justify-content: space-between;
}

mat-toolbar .logo{
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

mat-toolbar .authenticator__sign-in {
    margin-right: 16px;
}

mat-toolbar .header-content{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

mat-sidenav-container{
    height: calc(100vh - 120px);
    background-color: #202020;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding : 16px;
    text-align: center;
}

.content{
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;
    display: flex;
    font-size: 18px;
    border-radius: 16px;
    width: 100%;
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 86px;
}