<mat-toolbar>
    <div class="header-content">
        <div class="logo" routerLink="/" style="cursor: pointer;">THE COFFEE HOUSE</div>
        
        <div class="authenticator">
            
            <a routerLink="login" class="btn btn-outline-light authenticator__sign-in">
                Sign in
            </a>
    
        </div>
    </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav mode="side" opened *ngIf="authService.isLoggedIn | async">
        <app-nav-item></app-nav-item>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>