:host {
    width: 100%;
}

.actions {
    padding: 20px 290px 20px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 17px;
    z-index: 1;
    background-color: #202020;
}

.edit-voucher {
    margin-top: 160px;
}


